html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.highlight .hll {
  background-color: #ffffcc; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #606060;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #F00000;
  background-color: #F0A0A0; }

/* Error */
.highlight .k {
  color: #208090;
  font-weight: bold; }

/* Keyword */
.highlight .o {
  color: #303030; }

/* Operator */
.highlight .cm {
  color: #606060;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #507090; }

/* Comment.Preproc */
.highlight .c1 {
  color: #606060;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #c00000;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #A00000; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #FF0000; }

/* Generic.Error */
.highlight .gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #00A000; }

/* Generic.Inserted */
.highlight .go {
  color: #808080; }

/* Generic.Output */
.highlight .gp {
  color: #c65d09;
  font-weight: bold; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .gt {
  color: #0040D0; }

/* Generic.Traceback */
.highlight .kc {
  color: #208090;
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  color: #208090;
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn {
  color: #208090;
  font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp {
  color: #0080f0;
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #208090;
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #6060f0;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #6000E0;
  font-weight: bold; }

/* Literal.Number */
.highlight .s {
  background-color: #e0e0ff; }

/* Literal.String */
.highlight .na {
  color: #000070; }

/* Name.Attribute */
.highlight .nb {
  color: #007020; }

/* Name.Builtin */
.highlight .nc {
  color: #e090e0;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #50e0d0;
  font-weight: bold; }

/* Name.Constant */
.highlight .nd {
  color: #505050;
  font-weight: bold; }

/* Name.Decorator */
.highlight .ni {
  color: #800000; }

/* Name.Entity */
.highlight .ne {
  color: #F00000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #50e0d0;
  font-weight: bold; }

/* Name.Function */
.highlight .nl {
  color: #907000;
  font-weight: bold; }

/* Name.Label */
.highlight .nn {
  color: #0e84b5;
  font-weight: bold; }

/* Name.Namespace */
.highlight .nt {
  color: #007000; }

/* Name.Tag */
.highlight .nv {
  color: #003060; }

/* Name.Variable */
.highlight .ow {
  color: #000000;
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #6000E0;
  font-weight: bold; }

/* Literal.Number.Float */
.highlight .mh {
  color: #005080;
  font-weight: bold; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #6060f0;
  font-weight: bold; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #4000E0;
  font-weight: bold; }

/* Literal.Number.Oct */
.highlight .sb {
  background-color: #e0e0ff; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #8080F0; }

/* Literal.String.Char */
.highlight .sd {
  color: #D04020; }

/* Literal.String.Doc */
.highlight .s2 {
  background-color: #e0e0ff; }

/* Literal.String.Double */
.highlight .se {
  color: #606060;
  font-weight: bold;
  background-color: #e0e0ff; }

/* Literal.String.Escape */
.highlight .sh {
  background-color: #e0e0ff; }

/* Literal.String.Heredoc */
.highlight .si {
  background-color: #e0e0e0; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #f08080;
  background-color: #e0e0ff; }

/* Literal.String.Other */
.highlight .sr {
  color: #000000;
  background-color: #e0e0ff; }

/* Literal.String.Regex */
.highlight .s1 {
  background-color: #e0e0ff; }

/* Literal.String.Single */
.highlight .ss {
  color: #f0c080; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #007020; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #c0c0f0; }

/* Name.Variable.Class */
.highlight .vg {
  color: #f08040; }

/* Name.Variable.Global */
.highlight .vi {
  color: #a0a0f0; }

/* Name.Variable.Instance */
.highlight .il {
  color: #6060f0;
  font-weight: bold; }

/* Literal.Number.Integer.Long */
html, body {
  font-family: "Arvo", serif;
  line-height: 1.5em;
  background: -webkit-gradient(linear, 0% 50%, 1 50%, color-stop(100%, rgba(74, 67, 28, 0.4)), color-stop(100%, transparent)), -webkit-gradient(linear, 0% 50%, 2 50%, color-stop(100%, rgba(255, 255, 255, 0.7)), color-stop(100%, transparent)), url(map.jpg);
  background: -webkit-linear-gradient(left, rgba(74, 67, 28, 0.4) 1px, transparent 1px), -webkit-linear-gradient(left, rgba(255, 255, 255, 0.7) 2px, transparent 2px), url(map.jpg);
  background: -moz-linear-gradient(left, rgba(74, 67, 28, 0.4) 1px, transparent 1px), -moz-linear-gradient(left, rgba(255, 255, 255, 0.7) 2px, transparent 2px), url(map.jpg);
  background: -o-linear-gradient(left, rgba(74, 67, 28, 0.4) 1px, transparent 1px), -o-linear-gradient(left, rgba(255, 255, 255, 0.7) 2px, transparent 2px), url(map.jpg);
  background: -ms-linear-gradient(left, rgba(74, 67, 28, 0.4) 1px, transparent 1px), -ms-linear-gradient(left, rgba(255, 255, 255, 0.7) 2px, transparent 2px), url(map.jpg);
  background: linear-gradient(left, rgba(74, 67, 28, 0.4) 1px, transparent 1px), linear-gradient(left, rgba(255, 255, 255, 0.7) 2px, transparent 2px), url(map.jpg);
  background-size: 141px 141px;
  background-position: top center;
  color: #273845;
  text-shadow: white 1px 1px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  line-height: 1.2em;
  margin-top: 0.6em;
  margin-bottom: 0.6em; }

a {
  color: #2e4961; }

header, footer {
  overflow: hidden;
  *zoom: 1;
  background-color: #15222d; }

header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.55) 0px -8px 25px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.55) 0px -8px 25px inset;
  box-shadow: rgba(0, 0, 0, 0.55) 0px -8px 25px inset;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 55, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(55%, transparent)), -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 35, color-stop(0%, rgba(255, 255, 255, 0.17)), color-stop(35%, transparent)), #15222d;
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.15) 0%, transparent 55%), -webkit-radial-gradient(rgba(255, 255, 255, 0.17) 0%, transparent 35%), #15222d;
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.15) 0%, transparent 55%), -moz-radial-gradient(rgba(255, 255, 255, 0.17) 0%, transparent 35%), #15222d;
  background: -o-radial-gradient(rgba(255, 255, 255, 0.15) 0%, transparent 55%), -o-radial-gradient(rgba(255, 255, 255, 0.17) 0%, transparent 35%), #15222d;
  background: -ms-radial-gradient(rgba(255, 255, 255, 0.15) 0%, transparent 55%), -ms-radial-gradient(rgba(255, 255, 255, 0.17) 0%, transparent 35%), #15222d;
  background: radial-gradient(rgba(255, 255, 255, 0.15) 0%, transparent 55%), radial-gradient(rgba(255, 255, 255, 0.17) 0%, transparent 35%), #15222d;
  background-size: 1500px 1800px, 600px 1800px;
  background-position: top center;
  background-repeat: no-repeat;
  background-position-y: -1080px; }
  header hgroup {
    margin-top: 70px;
    margin-bottom: 30px;
    text-indent: -9999px;
    background: url(logo.png) center bottom no-repeat;
    background-size: 95%;
    max-height: 153px;
    max-width: 513px; }
  header .fork-me {
    position: absolute;
    top: 0px;
    left: 0px;
    height: auto; }
  header .longitudes {
    border-top: 1px solid #1d2a34;
    float: left;
    overflow: hidden;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    height: 1.6em;
    width: 50%;
    text-shadow: none; }
    header .longitudes.left {
      margin-left: 5px;
      direction: rtl;
      text-align: right; }
      header .longitudes.left span {
        text-align: left; }
    header .longitudes.left:before {
      content: "0";
      margin-left: -5px; }
    header .longitudes.center {
      text-align: center; }
      header .longitudes.center span {
        width: 30px; }
    header .longitudes.right {
      padding-left: 5px;
      margin-left: -10px;
      direction: ltr;
      text-align: left; }
      header .longitudes.right span {
        text-align: right; }
    header .longitudes span {
      display: inline-block;
      text-align: center;
      width: 70px; }

footer {
  -webkit-box-shadow: rgba(255, 255, 255, 0.55) 0px -4px 3px 0px, rgba(0, 0, 0, 0.55) 0px 8px 25px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.55) 0px -4px 3px 0px, rgba(0, 0, 0, 0.55) 0px 8px 25px inset;
  box-shadow: rgba(255, 255, 255, 0.55) 0px -4px 3px 0px, rgba(0, 0, 0, 0.55) 0px 8px 25px inset;
  text-align: center;
  text-shadow: none;
  padding-top: 25px;
  padding-bottom: 80px; }

div.frame {
  height: 29px;
  background: -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(74, 67, 28, 0.4)), color-stop(100%, transparent)), -webkit-gradient(linear, 50% 0%, 50% 2, color-stop(100%, rgba(255, 255, 255, 0.7)), color-stop(100%, transparent)), -webkit-gradient(linear, 50% 0%, 50% 6, color-stop(83.333%, transparent), color-stop(100%, rgba(74, 67, 28, 0.4)), color-stop(100%, transparent)), -webkit-gradient(linear, 50% 0%, 50% 7, color-stop(85.714%, transparent), color-stop(85.714%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0.7)), color-stop(100%, transparent)), url(map.jpg);
  background: -webkit-linear-gradient(rgba(74, 67, 28, 0.4) 1px, transparent 1px), -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 2px, transparent 2px), -webkit-linear-gradient(transparent 5px, rgba(74, 67, 28, 0.4) 6px, transparent 6px), -webkit-linear-gradient(transparent 6px, rgba(255, 255, 255, 0.7) 6px, rgba(255, 255, 255, 0.7) 7px, transparent 7px), url(map.jpg);
  background: -moz-linear-gradient(rgba(74, 67, 28, 0.4) 1px, transparent 1px), -moz-linear-gradient(rgba(255, 255, 255, 0.7) 2px, transparent 2px), -moz-linear-gradient(transparent 5px, rgba(74, 67, 28, 0.4) 6px, transparent 6px), -moz-linear-gradient(transparent 6px, rgba(255, 255, 255, 0.7) 6px, rgba(255, 255, 255, 0.7) 7px, transparent 7px), url(map.jpg);
  background: -o-linear-gradient(rgba(74, 67, 28, 0.4) 1px, transparent 1px), -o-linear-gradient(rgba(255, 255, 255, 0.7) 2px, transparent 2px), -o-linear-gradient(transparent 5px, rgba(74, 67, 28, 0.4) 6px, transparent 6px), -o-linear-gradient(transparent 6px, rgba(255, 255, 255, 0.7) 6px, rgba(255, 255, 255, 0.7) 7px, transparent 7px), url(map.jpg);
  background: -ms-linear-gradient(rgba(74, 67, 28, 0.4) 1px, transparent 1px), -ms-linear-gradient(rgba(255, 255, 255, 0.7) 2px, transparent 2px), -ms-linear-gradient(transparent 5px, rgba(74, 67, 28, 0.4) 6px, transparent 6px), -ms-linear-gradient(transparent 6px, rgba(255, 255, 255, 0.7) 6px, rgba(255, 255, 255, 0.7) 7px, transparent 7px), url(map.jpg);
  background: linear-gradient(rgba(74, 67, 28, 0.4) 1px, transparent 1px), linear-gradient(rgba(255, 255, 255, 0.7) 2px, transparent 2px), linear-gradient(transparent 5px, rgba(74, 67, 28, 0.4) 6px, transparent 6px), linear-gradient(transparent 6px, rgba(255, 255, 255, 0.7) 6px, rgba(255, 255, 255, 0.7) 7px, transparent 7px), url(map.jpg);
  background-size: 100px 22px; }

body > article {
  background-position: top center;
  background-image: url(map.jpg);
  background-size: 80px 80px; }
  body > article:last-of-type {
    padding-bottom: 100px; }
  body > article p {
    margin-bottom: 1em; }
  body > article figure {
    text-align: center; }
    body > article figure img {
      max-width: 100%;
      height: auto; }

.highlight {
  border: 1px solid rgba(74, 67, 28, 0.4);
  margin-bottom: 2em;
  overflow-x: auto; }

pre {
  margin: 8px;
  font-size: 0.9em;
  font-family: 'Bitstream Vera Sans Mono','Courier',monospace; }

@media (max-width: 320px) {
  html, body {
    font-size: 16px; }

  .fork-me {
    width: 70px; }

  hgroup {
    max-width: 550px;
    margin: 3.125% auto;
    text-align: center; }
    hgroup h1 {
      line-height: 200%; }

  .body_section, body > article, div#demo1, div#demo2 {
    margin: 0 auto;
    width: 93.75%;
    background-image: url(map.jpg); }

  body > article {
    overflow: hidden;
    *zoom: 1; }
    body > article > * {
      margin-left: 3.125%;
      margin-right: 3.125%; }

  h1, h2, h3, h4, h5, h6 {
    font-size: 26px; }

  div#demo1 {
    overflow: hidden;
    *zoom: 1; }
    div#demo1 article {
      float: left;
      width: 93.75%; }
    div#demo1 aside {
      float: left;
      width: 68.75%;
      display: none; }

  div#demo2 {
    width: 100%; }
    div#demo2 .box {
      margin: 3.125%;
      float: left;
      width: 18.75%;
      background-color: #273845;
      height: 40px; } }
@media (min-width: 321px) and (max-width: 480px) {
  html, body {
    font-size: 17px; }

  .fork-me {
    width: 141px; }

  hgroup {
    max-width: 550px;
    margin: 2.083% auto;
    text-align: center; }
    hgroup h1 {
      line-height: 122px; }

  .body_section, body > article, div#demo1, div#demo2 {
    margin: 0 auto;
    width: 95.833%;
    background-image: url(map.jpg); }

  body > article {
    overflow: hidden;
    *zoom: 1; }
    body > article > * {
      margin-left: 2.083%;
      margin-right: 2.083%; }

  h1, h2, h3, h4, h5, h6 {
    font-size: 34px; }

  div#demo1 {
    overflow: hidden;
    *zoom: 1; }
    div#demo1 article {
      float: left;
      width: 95.833%; }
    div#demo1 aside {
      float: left;
      width: 45.833%;
      display: none; }

  div#demo2 {
    width: 100%; }
    div#demo2 .box {
      margin: 2.083%;
      float: left;
      width: 12.5%;
      background-color: #273845;
      height: 40px; } }
@media (min-width: 481px) and (max-width: 720px) {
  html, body {
    font-size: 19px; }

  .fork-me {
    width: 141px; }

  hgroup {
    max-width: 550px;
    margin: 1.389% auto;
    text-align: center; }
    hgroup h1 {
      line-height: 122px; }

  .body_section, body > article, div#demo1, div#demo2 {
    margin: 0 auto;
    width: 97.222%;
    background-image: url(map.jpg); }

  body > article {
    overflow: hidden;
    *zoom: 1; }
    body > article > * {
      margin-left: 1.389%;
      margin-right: 1.389%; }

  h1, h2, h3, h4, h5, h6 {
    font-size: 44px; }

  div#demo1 {
    overflow: hidden;
    *zoom: 1; }
    div#demo1 article {
      float: left;
      width: 63.889%; }
    div#demo1 aside {
      float: left;
      width: 30.556%;
      display: block; }

  div#demo2 {
    width: 100%; }
    div#demo2 .box {
      margin: 1.389%;
      float: left;
      width: 8.333%;
      background-color: #273845;
      height: 40px; } }
@media (min-width: 721px) {
  html, body {
    font-size: 19px; }

  .fork-me {
    width: 141px; }

  hgroup {
    max-width: 550px;
    margin: 10px auto;
    text-align: center; }
    hgroup h1 {
      line-height: 122px; }

  .body_section, body > article, div#demo1, div#demo2 {
    margin: 0 auto;
    width: 700px;
    background-image: url(map.jpg); }

  body > article {
    overflow: hidden;
    *zoom: 1; }
    body > article > * {
      margin-left: 10px;
      margin-right: 10px; }

  h1, h2, h3, h4, h5, h6 {
    font-size: 44px; }

  div#demo1 {
    overflow: hidden;
    *zoom: 1; }
    div#demo1 article {
      float: left;
      width: 460px; }
    div#demo1 aside {
      float: left;
      width: 220px;
      display: block; }

  div#demo2 {
    width: 720px; }
    div#demo2 .box {
      margin: 10px;
      float: left;
      width: 60px;
      background-color: #273845;
      height: 40px; } }
