$longitude-gutter-width: 10px !default;
$longitude-column-width: 60px !default;
$longitude-compatibility-mode: false !default;

$longitude-column-count: 0;
$longitude-column-index: 0;
$longitude-base-width: 100%;

@function absolute-width($columns) {
  @return $columns * ($longitude-gutter-width * 2 + $longitude-column-width)
}

@function full-width($outer-gutters: true) {
  @return columns(column-count(), $outer-gutters);
}

@function column-count() {
  @return $longitude-column-count;
}

@function column-width(){
  @return relative-width($longitude-column-width);
}

@function gutter-width(){
  @return relative-width($longitude-gutter-width);
}

@function relative-width($width){
  @return $longitude-base-width * $width / absolute-width(column-count());
}

@function columns($columns, $surrounding-gutters: false) {
  $gutters: ($columns - 1) * 2;
  @if $surrounding-gutters {
    $gutters: $gutters + 2;
  }
  @return $gutters * gutter-width() + $columns * column-width();
}

@function gutter($gutters: 1) {
  @return gutter-width() * $gutters;
}

@mixin gutters {
  margin-left: gutter();
  margin-right: gutter();
}

@function is-fluid() {
  @return $longitude-base-width == 100%;
}

@function steps($list){
  @return nth($list, min($longitude-column-index, length($list)));
}

@mixin longitude($breakpoints) {
  $prev-column-count: 0;
  $max-width: 0;
  @each $column-count in $breakpoints {
    $longitude-column-index: $longitude-column-index + 1;
    $longitude-column-count: $column-count;
    @if $longitude-compatibility-mode == false {
      $min-width: absolute-width($prev-column-count);
      $max-width: absolute-width($column-count);
      $query: '(max-width: #{$max-width})';
      @if $min-width > 0 {
        $query: '(min-width: #{$min-width + 1px}) and #{$query}';
      }
      @media #{$query} {
        @content;
      }
    }
    $prev-column-count: $column-count
  }
  // Last step, use pixels
  $longitude-base-width: absolute-width(column-count());
  @if $longitude-compatibility-mode  {
    @content;
  } @else {
    @media (min-width: ($max-width + 1px)) {
      @content;
    }
  }
}

